@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

/* global  */
:root {
    --mainYellow: rgb(249, 228, 148);
    --mainWhite: #fff;
    --mainBlack: #000;
    --yellowTrans: rgba(249, 228, 148, 0.5);
    --mainGreen: #84a98c;
    --yellowOrange: #ff9500;
    --mainRed: #f94144;
    --queenBlue: #577590;
    --zomp: #43aa8b;
    --navbarColor: #343a40;
}

body {
    font-family: "Share Tech Mono", monospace;
    background: rgb(116, 129, 141);
    background: linear-gradient(
        270deg,
        rgba(116, 129, 141, 1) 0%,
        rgba(91, 101, 111, 1) 100%
    );
    color: var(--mainBlack);
}

/** Navigation Bar **/
.navbar {
    margin-bottom: 10vh;
}

.navbar-brand {
    font-size: 1rem;
    color: var(--queenBlue) !important;
    transition: all 2s ease-in;
}

.navbar-brand:hover {
    color: var(--yellowTrans) !important;
}

/* nav links */
.navbar-toggler {
    outline: none !important;
}

.toggler-icon {
    font-size: 1.5rem;
    color: var(--queenBlue) !important;
}

.nav-link {
    color: var(--zomp) !important;
    text-shadow: 1px 1px var(--yellowTrans);
    transition: all 1s ease-in-out;
    font-size: 1rem;
}

.dropdown-menu {
    background-color: var(--navbarColor) !important;
}

.dropdown-item {
    font-size: 0.8rem;
    transition: all 1s ease-in-out;
    color: var(--zomp) !important;
    background-color: var(--navbarColor) !important;
}

.nav-link:hover,
.dropdown-item:hover {
    color: var(--mainRed) !important;
    text-shadow: 1px 1px yellowTrans !important;
}

/*social icons */
.social-icons {
    color: var(--mainBlack) !important;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.social-icons:hover {
    color: var(--yellowOrange) !important;
}

/*index post preview */
.post-preview {
    margin: 1vh;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}

.indexpost-title {
    font-size: 1.5rem;
    color: var(--navbarColor);
    text-shadow: 1px 1px var(--mainBlack);
    transition: all 0.2s ease;
}

.indexpost-title:hover {
    color: var(--mainGreen);
}

.indexpost-link,
.indexpost-link:hover {
    text-decoration: none;
}

.indexpost-subtitle {
    color: #343a40;
    font-size: 1rem;
    text-decoration: none;
}

.indexpost-info {
    font-size: 0.9rem;
    font-style: italic;
}

/* postpage */
.postpage-title {
    font-size: 1.5rem;
    color: var(--navbarColor);
    text-shadow: 0px 1px var(--queenBlue);
    transition: all 0.2s ease;
}

.postpage-info {
    color: var(--zomp);
    font-size: 0.9rem;
    font-style: italic;
    margin: 0.1rem;
}

.postpage-content {
    margin: 0.2rem 0 0.2rem 0;
}

.postpage-backbtn {
    margin: 1rem;
}

/* filtered posts - categories */
.post-list-header {
    font-size: 1.8rem;
    color: var(--navbarColor);
    text-shadow: 0px 1px var(--mainBlack);
    transition: all 0.2s ease;
    padding: 1rem 2rem 1rem 2rem;
}

.post-list-contents {
    font-size: 1.2rem;
    color: var(--navbarColor);
    text-shadow: 1px 1px var(--mainBlack);
    transition: all 0.2s ease;
}

.post-list-contents:hover {
    color: var(--mainGreen);
    text-decoration: none;
}

/* pagination */
ul.pagination li {
    display: inline;
    font-size: 10px;
    font-weight: bold;
}

ul.pagination li a {
    color: black;
    text-decoration: none;
    margin: 0.25rem;
}

ul.pagination li.active {
    margin: 4px;
}

/*ul.pagination li a:hover:not(.active) {background-color: #ddd;}*/
ul.pagination > li a:hover {
    background-color: gray !important;
    color: var(--mainWhite);
}

li.page-item.active {
    /*background-color: #4CAF50;*/
    color: var(--mainGreen) !important;
}

li.page-item.disabled {
    padding: 4px 4px;
}

.page-link {
    background-color: var(--navbarColor) !important;
    border-color: gray !important;
    border-radius: 0.25rem;
}

.page-footer {
    color: var(--mainWhite);
    background-color: darkslategrey;
    bottom: 0;
    color: var(--mainWhite);
}
